[train] #train parameters
epoch = 32
batch_size = 32
shuffle = True
optimizer = adam
learning_rate = 1e-3
type_of_loss = multi_label_cross_entropy_loss
weight_decay = 0
momentum = 1
gamma = 0.8
step_size = 10
pre_train = 0

[data] #data parameters

[model] #model parameters
name = CAML
n_grams = 3,5,7
filters = 128
use_bert = False

[output] #output parameters
model_name = CAML
test_time = 1
output_time = 1
accuracy_method = top1

