[train] #train parameters
epoch = 64
batch_size = 16
shuffle = True
optimizer = adam
learning_rate = 1e-3
type_of_loss = multi_label_cross_entropy_loss
weight_decay = 0
momentum = 1
gamma = 0.1
step_size = 10
pre_train = 0

[data] #data parameters
train_data_path = xxx/train.pkl
valid_data_path = xxx/valid.pkl
test_data_path = xxx/test.pkl
Embedding_Path = xxx/embedding.json
vec_size = 200

[model] #model parameters
output_dim = 100
syt_output_dim = 100
max_len = 200
syp_max_len = 200
term_max_len = 16
use_bert = False

[output] #output parameters
model_path = xxx/Model
model_name = basic_model
test_time = 1
output_time = 2
accuracy_method = top1

