[train] #train parameters
epoch = 64
batch_size = 32
shuffle = True
optimizer = adam
learning_rate = 1e-3
type_of_loss = multi_label_cross_entropy_loss
weight_decay = 0
momentum = 1
gamma = 0.8
step_size = 10
pre_train = 0

[data] #data parameters

[model] #model parameters
name = LSTM
hidden_size = 512
num_layers = 1
use_bert = False

[output] #output parameters
model_name = LSTM
test_time = 1
output_time = 2
accuracy_method = top1

