[train] #train parameters
epoch = 64
batch_size = 16
shuffle = True
optimizer = adam
learning_rate = 1e-3
type_of_loss = multi_label_cross_entropy_loss
weight_decay = 0
momentum = 1
gamma = 0.8
step_size = 10
pre_train = 0
teacher_forcing = True
midback = False

[data] #data parameters


[model] #model parameters
name = MODEL_V3
n_grams = 3,5
filters = 128
threthold = 0.45
bert_path = BERT_PATH
hidden_size = 256
lambda = 0.5
use_bert = False

[output] #output parameters
model_name = MODEL_V3   
test_time = 1
output_time = 1
accuracy_method = top1

